{% extends 'index/index.html' %}
{% block title %}Add Photo{% endblock %}
{% block content %}
    <div class="container">
        <div class="well">
            <div class="row">
                <div class="col-md-5 col-md-offset-4">
                    <form method="post" action="{% url 'pictures:add_photo' %}">
                        {% csrf_token %}
                        <table>
                            {{ form.as_table }}
                        </table>
                        <div class=col-xs-12" style="height:40px;"></div>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <input type="submit" value="Add" class="btn btn-default btn-sm inactive"/>
                                <a href="#" onclick="window.history.back(); return false;"
                                   class="btn btn-default btn-sm inactive" role="button">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}