{% extends 'index/index.html' %}
{% block title %}Contact Me{% endblock %}
{% block content %}


    <div class="container">
        <div class="row" style="text-align: center;">
            <div class="col-md-12">
                <div class="well">
                    <h1> Thank you!</h1>
                    <p>I will check out your input soon!</p>
                    <div class="col-xs-12" style="height:50px;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12" style="height:50px;"></div>




{% endblock %}
