{% extends 'index/index.html' %}
{% block title %}Contact Me{% endblock %}
{% block content %}


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <h1> Contact Me!</h1>
                    <p>Feel free to contact me. Just fill out the form and I'll
                        get back to you as soon as I can. If you're just leaving
                        comment, that's great too! I'm open to feedback. Thanks
                        for visiting.</p>
                    <div class="col-xs-12" style="height:50px;"></div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <form method="post" action="{%  url 'index:contact_submit' %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-2"><p>Name:</p></div>
                                    <div class="col-md-5">{{ form.name }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2"><p>Email:</p></div>
                                    <div class="col-md-5">{{ form.email }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2"><p>Message:</p></div>
                                    <div class="col-md-5">{{ form.message }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-1 col-md-push-5"><input type="submit" value="Send"
                                                                               class="button"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <div class="col-xs-12" style="height:50px;"></div>




{% endblock %}
