{% extends 'index/index.html' %}
{% block title %}Contact Me{% endblock %}
{% block content %}


    <div class="container">
        <div class="well">
            <div class="row">
                <div class="col-md-3">
                    Name
                </div>
                <div class="col-md-3">
                    Email
                </div>
                <div class="col-md-4 col-md-offset-1">
                    Message
                </div>
            </div>
            <div class="col-xs-12" style="height:50px;"></div>

            {% for form in form_list %}
                <div class="row">
                    <div class="col-md-3">
                        {{ form.name }}
                    </div>
                    <div class="col-md-3">
                        {{ form.email }}
                    </div>
                    <div class="col-md-4 col-md-offset-1">
                        {{ form.message }}
                    </div>
                    <div class="col-md-1"><button onclick=""><i class="fa fa-trash-o" style="color: red"
                                                     aria-hidden="true"></i></button></div>
                </div>
            {% endfor %}
        </div>
    </div>



    <div class="col-xs-12" style="height:50px;"></div>




{% endblock %}
